@model CaseModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Case</h2>
            <input asp-for="CaseId" class="d-none"/>
            <hr />
            <div class="mb-3 row ps-4">
                <div class="col-6 p-0">
                    <label asp-for="Title" class="p-0 mb-1"></label>
                    <input asp-for="Title" class="form-control mb-2" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-6 p-0">
                    <div class="ps-4">
                        <label asp-for="CaseNumber" class="p-0 mb-1"></label>
                        <input asp-for="CaseNumber" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="mb-3 row ps-4">
                <label asp-for="Description" class="p-0 mb-1"></label>
                <input asp-for="Description" class="form-control mb-2" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3 row ps-4">
                <div class="col-6 p-0">
                    <label asp-for="Priority" class="p-0 mb-1"></label>
                    <select asp-for="Priority" class="form-control mb-2">
                        <option value="1">High</option>
                        <option value="2">Normal</option>
                        <option value="3">Low</option>
                    </select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="col-6 p-0">
                    <div class="ps-4">
                        <label asp-for="Customer" class="p-0 mb-1"></label>
                        <select asp-for="Customer" class="form-control mb-2" asp-items="ViewBag.Accounts">
                            <option value="">Select a Customer</option>
                        </select>
                        <span asp-validation-for="Customer" class="text-danger pt-2"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Case" asp-action="Resolve" asp-route-id="@Model.CaseId" class="btn btn-primary border form-control">Resolve</a>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Case" asp-action="Cancel" asp-route-id="@Model.CaseId" class="btn btn-primary border form-control">Cancel</a>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Case" asp-action="Index" class="btn btn-secondary border form-control">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}